body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.coral-color{
    color: coral;
}
section{
    display: flex;
}
.half-width
{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:70%;
    padding-left: 30px;
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    background-color: coral;
    padding:8px 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}